@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	font-family: Ubuntu, sans-serif;
	margin: 20px;  
}

a {
	color: #f84c00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#smol {
	font-size: 75%;
}

#h3list {
	font-weight: normal;
}

.date {
	color: #585858;
}

.bigfile {
	color: #ff0000;
	font-size: 90%;
}

.source {
	color: #000000;
}

.info {
	color: #000000;
	font-style: italic;
}

.id {
	color: #585858;
	font-size: 70%;
}

#footer {
	font-size: 80%;
}

#footer a {
	color: #000000;
	text-decoration: underline;
}

/* no touch */
#pagename {
	color: #585858;
	font-size: 70%;
	display: block;
	width: 100%;
	text-align: center;
}
/* seriously, don't touch it. please i beg of you */



/* /tesbooks/skyrim.html */

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border-bottom: 1px solid #585858;
 }

 tr:hover {
 	background-color: #dddddd;
 }

 .bottom {
 	border-bottom: 0px solid #000000;
 }