@font-face {
  font-family: futura;
  src: url('misc/futura-condensed-pt-medium-589e44ed1e3a5.woff');
} /* futura condensed */
@font-face {
  font-family: ubuntu;
  src: url('misc/Ubuntu-C.ttf');
}/* ubuntu condensed */

body {
  font-family: futura;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#header {
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: #343535;
  height: 60px;
  line-height: 60px;
  margin-bottom: 24px;
}
#header a, #header a:visited {
  color: white;
}
#header a:hover{
  color: #A5A5A5;
  text-decoration: none;
}
#topnav li {
  display: inline;
  padding-left: 10px;
}
#topnav {
  display: block;
  float: right;
  margin-top: 0;
}
#toptitle {
  margin-left: 30px;
}
#side {
  margin-right: 30px;
}

#page {
  max-width: 1200px;
  margin: 12px auto;
  padding: 24px;
  padding-top: 0;
}

#content {
  font-size: 20px;
}

#footer {
  font-family: 'Ubuntu Condensed';
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
#version {
  font-weight: bold;
  font-size: 90%;
  float: right;
}
